@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

.cta{
  min-height: 2rem;
  padding: 1.5rem 2.3rem;
  background-color: var(--accent);
  border: none;
  border-radius: 5rem;
  color: var(--white);
  font-family: "Bhavuka";
  font-size: 1.3rem;
  transition: background-color .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.cta:hover{
  background-color: var(--hover-accent);
}